In [1]:
a="hello"   #length of a string
len(a)

5

In [2]:
a="hello"   #returns in upercase letters
a.upper()

'HELLO'

In [3]:
print("hello world")   #prints the message

hello world

In [11]:
abs(-4)  #returns the absolute value

4

In [12]:
abs(-4/3)

1.3333333333333333

In [13]:
round(-4/3)  #returns the rounded value of a numeric value

-1

In [14]:
min(1,3,5,0)  #returns the least value

0

In [15]:
max(5,2,7,9)  #returns the max value

9

In [19]:
a=[4,2,1]    #sorts a list in ascending order
sorted(a)

[1, 2, 4]

In [20]:
a=[2,3,1]   #sums a list
sum(a)

6

In [21]:
b=[1/2,2/3,4/5]
sum(b)

1.9666666666666666

In [22]:
a="hello"
type(a)

str

In [23]:
a="HEllO"  #returns in lowercase letters
a.lower()

'hello'

In [24]:
a=" mug "   #it removes the whitespaces
a.strip()

'mug'

In [26]:
a="cat"      #replaces a given string with another string
a.replace("t","p")

'cap'

In [29]:
a="hello world"   #splits your string into a list
a.split(" ")

['hello', 'world']

In [32]:
a=["hello","world"]  #joins elements of a list into one string
" ".join(a)

'hello world'

In [36]:
a=[2,"hello","h",1,31.2]  #adds an element to the end of your list
a.append("world")
a.append(45)
print(a)

[2, 'hello', 'h', 1, 31.2, 'world', 45]

In [37]:
a=[2,"hello","h",1,31.2]  #removes the element from the list
a.remove("hello")
a.remove(2)
print(a)

['h', 1, 31.2]

In [44]:
a=[2,"hello","h",1,1,31.2]  #returns the number of the specified value in a list
a.count(1)

2

In [46]:
a=[2,"hello","h",1,1,31.2]  #removes all elements of the list
a.clear()
print(a)

[]

In [48]:
details={"rahul":10,"ravi":20}  #returns the values from dictionary
details.values()

dict_values([10, 20])

In [50]:
details={"rahul":10,"ravi":20}
details.keys()

dict_keys(['rahul', 'ravi'])

In [53]:
details={"rahul":10,"ravi":20}
details["rahul"]

10

In [55]:
details={"rahul":10,"ravi":20}  #adds the elements to the dictionary
details["jyothi"]=30
print(details)

{'rahul': 10, 'ravi': 20, 'jyothi': 30}

In [56]:
details={"rahul":10,"ravi":20}
details.clear()
print(details)

{}