# Variables

In [3]:
x="hello"
print(x)
y="john"
print(y)

hello
john

In [4]:
x=1 
print(x)
x="hello"
print(x)

1
hello

# Convention for naming variables

In [5]:
age=5 
AGE=4
Age=6
print(age,AGE,Age,)

5 4 6

In [6]:
My_var=2 
myvar=2
_myvar=2
my_var=2
_my_var=2
myVar=2
myvar1=2
print(My_var,myvar,_myvar,my_var,_my_var,myVar,myvar1)

2 2 2 2 2 2 2

In [9]:
2myvar=2
my var=2
my-var=2
print(myvar,my var,my-var)

SyntaxError: invalid syntax (<ipython-input-9-9ca3616a7369>, line 1)

# print() function

In [10]:
print("hello")

hello

In [11]:
x="hello"
print(x)

hello

In [12]:
firstname="ajith" 
secondname="kumar"
print(firstname)
print(secondname)

ajith
kumar

In [13]:
firstname='Arun' 
lastname="Balaji"
print(firstname,end='-')
print(lastname)

Arun-Balaji

In [14]:
fruit="apple" 
print("i have an "+fruit)

i have an apple

In [15]:
fruit1="apple" 
fruit2="banana"
print("I have 2 fruits, one is "+fruit1+" other one is "+fruit2)

I have 2 fruits, one is apple other one is banana

In [16]:
fruit1="apple"
fruit2="banana"
print("i have 2 fruits, one is {} other one is {}".format(fruit1,fruit2))

i have 2 fruits, one is apple other one is banana

In [17]:
fruit1="apple" 
fruit2="banana"
print("i have 2 fruits, one is {1} other one is {0}".format(fruit1,fruit2))

i have 2 fruits, one is banana other one is apple

# Comments

In [19]:
#this is a comment
print("hello")

hello

In [20]:
print("hello") #this is a comment

hello

In [22]:
print("hello")
#this is a comment
print("world")

hello
world

In [23]:
#iam
#a
#multiline
#comment
print("hello")

hello

In [24]:
'''
iam a 
multiline 
comment
'''
print("hello")

hello

In [25]:
"""
iam a 
multiline 
comment
"""
print("hello")

hello

# input() function

In [26]:
name=input("enter your name:")
print("hello "+name)

enter your name:arun
hello arun

In [27]:
num1=input("enter 1st number:") 
num2=input("enter 2nd number:")
num3=num1+num2
print(num3)

enter 1st number:2
enter 2nd number:4
24